Repository CorfuDB/CorfuDB, pull requests merged in 2020-07, with the labels that each got.

#2613 Flush Async Logger on Exit
  infrastructure/src/main/java/org/corfudb/infrastructure/CorfuServer.java
  infrastructure/src/main/resources/logback.prod.xml
Labels: bug

#2592 Re-Organize Protobuf Files
  format/pom.xml
  infrastructure/pom.xml
  infrastructure/src/main/java/org/corfudb/infrastructure/log/StreamLogFiles.java
  infrastructure/src/proto/log_format.proto
  pom.xml
  runtime/pom.xml
  runtime/proto/queue.proto
  runtime/src/main/java/org/corfudb/runtime/collections/CorfuQueue.java
  test/pom.xml
  test/src/test/java/org/corfudb/infrastructure/LogUnitServerTest.java
  test/src/test/java/org/corfudb/infrastructure/log/StreamLogFilesTest.java
  test/src/test/java/org/corfudb/runtime/clients/LogUnitHandlerTest.java
Labels: typ: enhancement

#2638 Use Corfu's common system namespace
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/LogReplicationMetadataManager.java
  utils/src/main/java/org/corfudb/utils/lock/persistence/LockStore.java
Labels: log-replication

#2645 Fix Log Replication Failing IT
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/fsm/ObservableAckMsg.java
  test/src/test/java/org/corfudb/integration/LogReplicationIT.java
  test/src/test/java/org/corfudb/integration/ReplicationReaderWriterIT.java
  test/src/test/java/org/corfudb/integration/SourceForwardingDataSender.java
Labels: log-replication

#2650 Fix NullPointerException in StreamView.
  runtime/src/main/java/org/corfudb/runtime/exceptions/TrimmedException.java
  runtime/src/main/java/org/corfudb/runtime/view/AddressSpaceView.java
  runtime/src/main/java/org/corfudb/runtime/view/stream/AddressMapStreamView.java
Labels: bug

#2651 [Corfu-0.3.0.2] Fix NullPointerException in StreamView.
  runtime/src/main/java/org/corfudb/runtime/exceptions/TrimmedException.java
  runtime/src/main/java/org/corfudb/runtime/view/AddressSpaceView.java
  runtime/src/main/java/org/corfudb/runtime/view/stream/AddressMapStreamView.java
Labels: bug

#2634 Add Log Replication Cluster Role ITs
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/infrastructure/CorfuReplicationDiscoveryService.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/infrastructure/CorfuReplicationManager.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/infrastructure/TopologyDescriptor.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/infrastructure/plugins/DefaultClusterManager.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/StreamsSnapshotWriter.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/runtime/CorfuLogReplicationRuntime.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/utils/CorfuMessageConverter.java
  test/src/test/java/org/corfudb/integration/CorfuReplicationClusterConfigIT.java
  test/src/test/resources/logback-test.xml
Labels: log-replication

#2643 Config the message size for both snapshot full sync and delta sync.
  infrastructure/src/main/java/org/corfudb/infrastructure/ServerContext.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/LogReplicationConfig.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/infrastructure/CorfuInterClusterReplicationServer.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/infrastructure/CorfuReplicationDiscoveryService.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/infrastructure/plugins/DefaultClusterConfig.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/fsm/LogReplicationFSM.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/fsm/TestLogEntryReader.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/LogEntrySinkBufferManager.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/LogEntryWriter.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/LogReplicationSinkManager.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/SinkBufferManager.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/SnapshotSinkBufferManager.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/receive/StreamsSnapshotWriter.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/IllegalSnapshotEntrySizeException.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/IllegalTransactionStreamsException.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/LogEntrySender.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/SenderBufferManager.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/SnapshotSender.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/logreader/LogEntryReader.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/logreader/ReaderUtility.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/logreader/StreamsLogEntryReader.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/replication/send/logreader/StreamsSnapshotReader.java
  infrastructure/src/main/java/org/corfudb/infrastructure/logreplication/transport/sample/GRPCLogReplicationServerHandler.java
  runtime/src/main/java/org/corfudb/protocols/logprotocol/SMREntry.java
  runtime/src/main/java/org/corfudb/protocols/wireprotocol/logreplication/LogReplicationEntry.java
  test/src/test/java/org/corfudb/infrastructure/logreplication/LogReplicationFSMTest.java
  test/src/test/java/org/corfudb/infrastructure/logreplication/LogUpdateAPITest.java
  test/src/test/java/org/corfudb/integration/AbstractIT.java
  test/src/test/java/org/corfudb/integration/CorfuReplicationE2EIT.java
  test/src/test/java/org/corfudb/integration/LogReplicationIT.java
  test/src/test/java/org/corfudb/integration/ReplicationReaderWriterIT.java
  test/src/test/java/org/corfudb/integration/SourceForwardingDataSender.java
Labels: log-replication

#2612 Unify Read APIs
  infrastructure/src/main/java/org/corfudb/infrastructure/LogUnitServer.java
  infrastructure/src/main/java/org/corfudb/infrastructure/log/statetransfer/batchprocessor/committedbatchprocessor/CommittedBatchProcessor.java
  infrastructure/src/test/java/org/corfudb/infrastructure/log/statetransfer/batchprocessor/committedbatchprocessor/CommittedBatchProcessorTest.java
  runtime/src/main/java/org/corfudb/protocols/wireprotocol/CorfuMsgType.java
  runtime/src/main/java/org/corfudb/protocols/wireprotocol/MultipleReadRequest.java
  runtime/src/main/java/org/corfudb/protocols/wireprotocol/ReadRequest.java
  runtime/src/main/java/org/corfudb/runtime/clients/LogUnitClient.java
  runtime/src/main/java/org/corfudb/runtime/view/replication/ChainReplicationProtocol.java
  test/src/test/java/org/corfudb/infrastructure/LogUnitCacheTest.java
  test/src/test/java/org/corfudb/integration/ClusterReconfigIT.java
  test/src/test/java/org/corfudb/integration/StateTransferIT.java
  test/src/test/java/org/corfudb/runtime/clients/LogUnitHandlerTest.java
  test/src/test/java/org/corfudb/runtime/view/StateTransferTest.java
Labels: typ: enhancement

#2674 Unify Read APIs + KNOWN_ADDRESS_REQUEST Bug
  infrastructure/src/main/java/org/corfudb/infrastructure/LogUnitServer.java
  runtime/src/main/java/org/corfudb/protocols/wireprotocol/CorfuMsgType.java
  runtime/src/main/java/org/corfudb/protocols/wireprotocol/MultipleReadRequest.java
  runtime/src/main/java/org/corfudb/protocols/wireprotocol/ReadRequest.java
  runtime/src/main/java/org/corfudb/runtime/clients/LogUnitClient.java
  runtime/src/main/java/org/corfudb/runtime/view/replication/ChainReplicationProtocol.java
  test/src/test/java/org/corfudb/infrastructure/LogUnitCacheTest.java
  test/src/test/java/org/corfudb/integration/ClusterReconfigIT.java
  test/src/test/java/org/corfudb/runtime/clients/LogUnitHandlerTest.java
  test/src/test/java/org/corfudb/runtime/view/StateTransferTest.java
Labels: bug
